a.btn-primary {
  background: rgb(246, 199, 10);
  border: none;
  transition: background-color 0.3s ease;
  color: black;
  font-weight: bold;

}

a.btn-primary:hover {
  background-color: rgba(246, 199, 10, 0.687);
  text-decoration: none;
  color: black;
}